body { 
    font-family: Arial; 
    background: white;
    justify-items: center;
}
h2{
    text-align: center;
    padding: 10px;
}
#chatbox{
    background:#081717;
    color: #f1f9f9;
    width: 40vb;
    border-radius: 20px;
}
#messages{
    justify-items: end;
    margin: 10px 10px;
    size: 90%;
    font-size: 25px;
    font-weight: 600    ;
}
#textbox{
    padding: 10px;
    text-align: center;
}
#userInput{
    height: 3vh;
    width: 37vb;
    border-radius: 20px;
    margin-bottom: 10px;
    padding-left: 10px;
}
#refbutton{
    color: #f1f9f9;
    text-decoration: none;
    background: #384747;
    height: 3vh;
    width: 6vb;
    border-radius: 10px;
}
