.latest-episodes {
  max-width: 100%;
  padding: 4rem 1rem 6rem;
  text-align: center;
  background-color: #36b8bf;
}

.latest-episodes h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.episode-card {
  border-radius: 16px;
  padding: 1.5rem;
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  transition: transform 0.2s ease;
}

.episode-card:hover {
  transform: scale(1.03);
}

.episode-img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  max-height: 180px;
}

.episode-info {
  margin-top: 1rem;
}

.episode-info h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.episode-info p {
  font-size: 0.95rem;
  color: #333;
}

.episode-info a {
  display: inline-block;
  margin-top: 0.5rem;
  background-color: #081717;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

.episode-info a:hover {
  background-color: #394747;
}

.episode-card iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 12px;
  height: 100%;
  max-height: none;
}


@media screen and (max-width: 768px) {
  .episode-card {
    max-width: 95vw;
    padding: 1rem;
  }

  .episode-card iframe {
    height: 240px;
  }
}
